.cls-1,.cls-2,.cls-3,.cls-4,.cls-5{
	fill:none;stroke:#000;
	stroke-miterlimit:10;
	stroke-width:8px;
}
.cls-2{
	stroke-dasharray:5.1 5.1;
	animation: dash 60s linear;
	animation-iteration-count: infinite;

}
.cls-3{
	stroke-dasharray:4.93 4.93;
	animation: dash 60s linear;
	animation-iteration-count: infinite;
}
.cls-4{
	stroke-dasharray:4.93 4.93;
	animation: dash 60s linear;
	animation-iteration-count: infinite;
}
.cls-5{
	stroke-dasharray:5;
	animation: dash 60s linear;
	animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
