.App {
  height: 100%;

}

#svgdiv{
  display: block;
	margin:auto;
}

#left{
  background-color: lightblue;
  height: 100%;

}

#right{
  background-color: pink;
  height: 100%;

}

#svgdiv{
  height: 30vh;
  display: block;
}

a {text-decoration: none; color:black } /* Globally */

/* Each state */
a:link{ text-decoration: none; color:black; }
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:red; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }

#about{
  display: none;
}
